<%= render :partial => 'layouts/header' %>

<h1><%= @product.name%></h1>

<table>

  <tr>
    <td> Description : <%= @product.description %></td>
    <td>Price : <%= @product.price %></td>
    <td>
    <%= form_tag :controller => :order, :action => :add, :id => product do %>
      <%= submit_tag 'Add to cart' %>
    <% end %>
    </td>
  </tr>
</table>
 
<br />