<div id="head_bar">
<div class="wrap">
<div class="search">
    Search: <%= search_form_for Product.search(params[:q]), :url=>search_results_path do |f| %>
      <%= f.label( :name_cont, "Name") %>
      <%= f.text_field :name_cont %>
      <br />
      <%= f.label( :description_cont, "Description") %>
      <%= f.text_field :description_cont %>
      <br />
      <%= f.label( :price_gteq, "Price from :") %>
      <%= f.text_field :price_gteq , :style => 'width:70px;' %>
      <%= f.label( :price_lteq, "Price to :") %>
      <%= f.text_field :price_lteq, :style => 'width:70px;' %>
      <br />
      <%= f.submit "Search" %>
    <% end %>
</div>
<div class="basket">Basket</div>
<table>
  <tr>
    <th>Title</th>
    <th>Quantity</th>
    <th></th>
  </tr>
<% @current_cart.order_items.each do |order_item| %>
  <tr>
    <td><%= order_item.product.name %></td>
    <td><%= order_item.quantity %></td>
    <td><%= form_tag :controller => :order, :action => :delete, :id => order_item  do %>
      <%= submit_tag 'Delete' %>
    <% end %>
    </td>
  </tr>
<% end %>
<tr>
  	<td><%= form_tag :controller => :order, :action => :checkout do %>
      <%= submit_tag 'Checkout' %>
    <% end %>
  </tr> 
</table> 
</div>
</div>